.imgscroll{
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    overflow-x: auto;
}

.imgscroll::-webkit-scrollbar{
    width: 0px;
    background-color: #F1F3F4;
}


.projimg{
    border-radius: 10px;
}


.projectrow1{
    padding: 50px;
    border-radius: 6px;
    background-color: #F1F3F4;
}

.imgscroll{
    mask-image: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%,#F1F3F4  5%,#F1F3F4  95%, rgba(0, 0, 0, 0) 100%);

}

/* .cover{
    color: linear-gradient(90deg,#F1F3F4 0%, rgba(241, 243, 244, 0.5) 5%, rgba(241, 243, 244,0.5) 95%, #F1F3F4 100%);
} */

.imgoverlay{
    background-color: rgba(0, 0, 0, 0.3);
}

.projectpage{
    padding-bottom: 100px;
}